.irAInicio {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    transition: all 0.5s ease;
    border-radius: 50%;
    border: 1px solid red;
    position: fixed;
    right: 15px;
    bottom: -75px;
    cursor: pointer;
    z-index: 999;

    &:hover {
        box-shadow: 0 0 20px red;
    }
}

.irAInicio img {
    width: 60%;
}