.card {
    border: 1px solid rgb(14, 14, 14);
    transition: 0.2s ease-out;
    justify-content: center;
    border-radius: 4px;
    width: 180px;
    margin: 10px;
    color: rgb(255, 106, 106);
    cursor: pointer;
}

.cardBottomTitle {
    font-weight: 500;
    color: white !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.05;
}



.card:hover {
    transition: 0.2s ease-in;
    filter: brightness(120%);
    box-shadow: 2px 10px 10px rgba(58, 58, 58, 0.071);
    color: gray;
}


.cardBottom {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 10px;
    letter-spacing: 1.2px;
}

.cardPicture img {
    width: 100%;
    transition: transform .5s;
    filter: brightness(80%);
}

.cardPicture img:hover {
    transform: scale(1.1);
}