@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Shippori+Antique+B1&display=swap');


body {
  padding: 10px;
  background-color: black;
  font-family: 'Open Sans Condensed', sans-serif;
  color: white;
}

header {
  position: fixed;
  z-index: 1000;
  top: 5px;
}

main {
  margin-top: 10px;
}

.red-text {
  color: red !important;
}

.white-text {
  color: white !important;
}

.black-background {
  background-color: black !important;
}